cmd/trsending/DRAFT2auth.052.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.6.15) on 2019 Mar 21 15:14:46, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT2auth.052.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT2auth.052.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyAnd13DecimalAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="13"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAnd13DecimalAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAnd13DecimalAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
        <xs:simpleContent>
            <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AgreementType1Choice">
        <xs:choice>
            <xs:element name="Tp" type="ExternalAgreementType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityDairy1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType20Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityForestry1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType21Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityGrain2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType5Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType30Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityLiveStock1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType22Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOilSeed1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType1Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOliveOil2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType3Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType29Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommodityPotato1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType45Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommoditySeafood1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType23Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AgriculturalCommoditySoft1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType1Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType2Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountAndDirection61">
        <xs:sequence>
            <xs:element name="Amt" type="ActiveCurrencyAnd13DecimalAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sgn" type="PlusOrMinusIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICDec2014Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}[A-Z]{2,2}[A-Z0-9]{2,2}([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AssetClassCommodity5Choice">
        <xs:choice>
            <xs:element name="Agrcltrl" type="AssetClassCommodityAgricultural5Choice"/>
            <xs:element name="Nrgy" type="AssetClassCommodityEnergy2Choice"/>
            <xs:element name="Envttl" type="AssetClassCommodityEnvironmental2Choice"/>
            <xs:element name="Frtlzr" type="AssetClassCommodityFertilizer3Choice"/>
            <xs:element name="Frght" type="AssetClassCommodityFreight3Choice"/>
            <xs:element name="IndstrlPdct" type="AssetClassCommodityIndustrialProduct1Choice"/>
            <xs:element name="Metl" type="AssetClassCommodityMetal1Choice"/>
            <xs:element name="OthrC10" type="AssetClassCommodityOtherC102Choice"/>
            <xs:element name="Ppr" type="AssetClassCommodityPaper3Choice"/>
            <xs:element name="Plprpln" type="AssetClassCommodityPolypropylene3Choice"/>
            <xs:element name="Infltn" type="AssetClassCommodityInflation1"/>
            <xs:element name="MultiCmmdtyExtc" type="AssetClassCommodityMultiCommodityExotic1"/>
            <xs:element name="OffclEcnmcSttstcs" type="AssetClassCommodityOfficialEconomicStatistics1"/>
            <xs:element name="Othr" type="AssetClassCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityAgricultural5Choice">
        <xs:choice>
            <xs:element name="GrnOilSeed" type="AgriculturalCommodityOilSeed1"/>
            <xs:element name="Soft" type="AgriculturalCommoditySoft1"/>
            <xs:element name="Ptt" type="AgriculturalCommodityPotato1"/>
            <xs:element name="OlvOil" type="AgriculturalCommodityOliveOil2"/>
            <xs:element name="Dairy" type="AgriculturalCommodityDairy1"/>
            <xs:element name="Frstry" type="AgriculturalCommodityForestry1"/>
            <xs:element name="Sfd" type="AgriculturalCommoditySeafood1"/>
            <xs:element name="LiveStock" type="AgriculturalCommodityLiveStock1"/>
            <xs:element name="Grn" type="AgriculturalCommodityGrain2"/>
            <xs:element name="Othr" type="AgriculturalCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityEnergy2Choice">
        <xs:choice>
            <xs:element name="Elctrcty" type="EnergyCommodityElectricity1"/>
            <xs:element name="NtrlGas" type="EnergyCommodityNaturalGas2"/>
            <xs:element name="Oil" type="EnergyCommodityOil2"/>
            <xs:element name="Coal" type="EnergyCommodityCoal1"/>
            <xs:element name="IntrNrgy" type="EnergyCommodityInterEnergy1"/>
            <xs:element name="RnwblNrgy" type="EnergyCommodityRenewableEnergy1"/>
            <xs:element name="LghtEnd" type="EnergyCommodityLightEnd1"/>
            <xs:element name="Dstllts" type="EnergyCommodityDistillates1"/>
            <xs:element name="Othr" type="EnergyCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityEnvironmental2Choice">
        <xs:choice>
            <xs:element name="Emssns" type="EnvironmentalCommodityEmission2"/>
            <xs:element name="Wthr" type="EnvironmentalCommodityWeather1"/>
            <xs:element name="CrbnRltd" type="EnvironmentalCommodityCarbonRelated1"/>
            <xs:element name="Othr" type="EnvironmentCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityFertilizer3Choice">
        <xs:choice>
            <xs:element name="Ammn" type="FertilizerCommodityAmmonia1"/>
            <xs:element name="DmmnmPhspht" type="FertilizerCommodityDiammoniumPhosphate1"/>
            <xs:element name="Ptsh" type="FertilizerCommodityPotash1"/>
            <xs:element name="Slphr" type="FertilizerCommoditySulphur1"/>
            <xs:element name="Urea" type="FertilizerCommodityUrea1"/>
            <xs:element name="UreaAndAmmnmNtrt" type="FertilizerCommodityUreaAndAmmoniumNitrate1"/>
            <xs:element name="Othr" type="FertilizerCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityFreight3Choice">
        <xs:choice>
            <xs:element name="Dry" type="FreightCommodityDry2"/>
            <xs:element name="Wet" type="FreightCommodityWet2"/>
            <xs:element name="CntnrShip" type="FreightCommodityContainerShip1"/>
            <xs:element name="Othr" type="FreightCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityIndustrialProduct1Choice">
        <xs:choice>
            <xs:element name="Cnstrctn" type="IndustrialProductCommodityConstruction1"/>
            <xs:element name="Manfctg" type="IndustrialProductCommodityManufacturing1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityInflation1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType12Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityMetal1Choice">
        <xs:choice>
            <xs:element name="NonPrcs" type="MetalCommodityNonPrecious1"/>
            <xs:element name="Prcs" type="MetalCommodityPrecious1"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityMultiCommodityExotic1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType13Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOfficialEconomicStatistics1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType14Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType15Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityOtherC102Choice">
        <xs:choice>
            <xs:element name="Dlvrbl" type="OtherC10CommodityDeliverable2"/>
            <xs:element name="NonDlvrbl" type="OtherC10CommodityNonDeliverable2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityPaper3Choice">
        <xs:choice>
            <xs:element name="CntnrBrd" type="PaperCommodityContainerBoard1"/>
            <xs:element name="Nwsprnt" type="PaperCommodityNewsprint1"/>
            <xs:element name="Pulp" type="PaperCommodityPulp1"/>
            <xs:element name="RcvrdPpr" type="PaperCommodityRecoveredPaper1"/>
            <xs:element name="Othr" type="PaperCommodityRecoveredPaper2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="AssetClassCommodityPolypropylene3Choice">
        <xs:choice>
            <xs:element name="Plstc" type="PolypropyleneCommodityPlastic1"/>
            <xs:element name="Othr" type="PolypropyleneCommodityOther1"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="AssetClassDetailedSubProductType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALUM"/>
            <xs:enumeration value="ALUA"/>
            <xs:enumeration value="CBLT"/>
            <xs:enumeration value="COPR"/>
            <xs:enumeration value="IRON"/>
            <xs:enumeration value="MOLY"/>
            <xs:enumeration value="NASC"/>
            <xs:enumeration value="NICK"/>
            <xs:enumeration value="STEL"/>
            <xs:enumeration value="TINN"/>
            <xs:enumeration value="ZINC"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="LEAD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GOLD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="PLDM"/>
            <xs:enumeration value="PTNM"/>
            <xs:enumeration value="SLVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FWHT"/>
            <xs:enumeration value="SOYB"/>
            <xs:enumeration value="RPSD"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="CORN"/>
            <xs:enumeration value="RICE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LAMP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ROBU"/>
            <xs:enumeration value="CCOA"/>
            <xs:enumeration value="BRWN"/>
            <xs:enumeration value="WHSG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MWHT"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType31Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GASP"/>
            <xs:enumeration value="LNGG"/>
            <xs:enumeration value="NCGG"/>
            <xs:enumeration value="TTFG"/>
            <xs:enumeration value="NBPG"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BAKK"/>
            <xs:enumeration value="BDSL"/>
            <xs:enumeration value="BRNT"/>
            <xs:enumeration value="BRNX"/>
            <xs:enumeration value="CNDA"/>
            <xs:enumeration value="COND"/>
            <xs:enumeration value="DSEL"/>
            <xs:enumeration value="DUBA"/>
            <xs:enumeration value="ESPO"/>
            <xs:enumeration value="ETHA"/>
            <xs:enumeration value="FUEL"/>
            <xs:enumeration value="FOIL"/>
            <xs:enumeration value="GOIL"/>
            <xs:enumeration value="GSLN"/>
            <xs:enumeration value="HEAT"/>
            <xs:enumeration value="JTFL"/>
            <xs:enumeration value="KERO"/>
            <xs:enumeration value="LLSO"/>
            <xs:enumeration value="MARS"/>
            <xs:enumeration value="NAPH"/>
            <xs:enumeration value="NGLO"/>
            <xs:enumeration value="TAPI"/>
            <xs:enumeration value="WTIO"/>
            <xs:enumeration value="URAL"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType33Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DBCR"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType34Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TNKR"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BSLD"/>
            <xs:enumeration value="FITR"/>
            <xs:enumeration value="PKLD"/>
            <xs:enumeration value="OFFP"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassDetailedSubProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CERE"/>
            <xs:enumeration value="ERUE"/>
            <xs:enumeration value="EUAE"/>
            <xs:enumeration value="EUAA"/>
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType11Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType12Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INFL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType13Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MCEX"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType14Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OEST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AGRI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NRGY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ENVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType4Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRGT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRTL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INDP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="METL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAPR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassProductType9Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POLY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType10Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EMIS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType15Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NPRM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType16Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRME"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType18Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PLST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GROS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType20Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIRY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType21Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FRST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType22Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LSTK"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType23Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SEAF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType24Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType25Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DIST"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType26Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INRG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType27Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="LGHT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType28Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RNNG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType29Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRBR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SOFT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType30Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType31Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRYF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType32Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WETF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType33Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSTR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType34Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MFTG"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType35Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CBRD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType36Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSPT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType37Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PULP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType38Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RCVP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType39Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AMMO"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType3Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OOLI"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType40Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType41Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTSH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType42Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SLPH"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType43Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UREA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType44Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UAAN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType45Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="POTA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType46Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSHP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType47Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DLVR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType48Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NDLV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType49Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OTHR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType5Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GRIN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ELEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType7Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NGAS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AssetClassSubProductType8Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OILP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BenchmarkCurveName2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="WIBO"/>
            <xs:enumeration value="TREA"/>
            <xs:enumeration value="TIBO"/>
            <xs:enumeration value="TLBO"/>
            <xs:enumeration value="SWAP"/>
            <xs:enumeration value="STBO"/>
            <xs:enumeration value="PRBO"/>
            <xs:enumeration value="PFAN"/>
            <xs:enumeration value="NIBO"/>
            <xs:enumeration value="MAAA"/>
            <xs:enumeration value="MOSP"/>
            <xs:enumeration value="LIBO"/>
            <xs:enumeration value="LIBI"/>
            <xs:enumeration value="JIBA"/>
            <xs:enumeration value="ISDA"/>
            <xs:enumeration value="GCFR"/>
            <xs:enumeration value="FUSW"/>
            <xs:enumeration value="EUCH"/>
            <xs:enumeration value="EUUS"/>
            <xs:enumeration value="EURI"/>
            <xs:enumeration value="EONS"/>
            <xs:enumeration value="EONA"/>
            <xs:enumeration value="CIBO"/>
            <xs:enumeration value="CDOR"/>
            <xs:enumeration value="BUBO"/>
            <xs:enumeration value="BBSW"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BenchmarkCurveName8Choice">
        <xs:choice>
            <xs:element name="Indx" type="BenchmarkCurveName2Code"/>
            <xs:element name="Nm" type="Max350Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Branch2Choice">
        <xs:choice>
            <xs:element name="Id" type="OrganisationIdentification9Choice"/>
            <xs:element name="Ctry" type="CountryCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CFIOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Cleared2Choice">
        <xs:choice>
            <xs:element maxOccurs="1" minOccurs="0" name="Clrd" type="ClearingPartyAndTime7"/>
            <xs:element name="NonClrd" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Cleared8Choice">
        <xs:choice>
            <xs:element name="Clrd" type="ClearingPartyAndTime7"/>
            <xs:element name="NonClrd" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="ClearingPartyAndTime7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CCP" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RptTrckgNb" type="Max52Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflCd" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Collateral15">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollValDt" type="ISODate"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AsstTp" type="CollateralType7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetXpsrCollstnInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktIdr" type="SecurityIdentification26Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Collateral27">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollValDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralData3">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AsstTp" type="CollateralType7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktIdr" type="SecurityIdentification26Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralData7">
        <xs:sequence>
            <xs:element name="TxCollData" type="TransactionCollateralData1Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CollateralDeliveryMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SICA"/>
            <xs:enumeration value="SIUR"/>
            <xs:enumeration value="TTCA"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralFlag6">
        <xs:sequence>
            <xs:element name="HrcutOrMrgn" type="PercentageRate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralFlag6Choice">
        <xs:choice>
            <xs:element name="Collsd" type="CollaterisedData4"/>
            <xs:element name="Uncollsd" type="NoReasonCode"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CollateralQualityType1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVG"/>
            <xs:enumeration value="NIVG"/>
            <xs:enumeration value="NOTR"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CollateralRole1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GIVE"/>
            <xs:enumeration value="TAKE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CollateralType7Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Scty" type="HaircutPortfolioSecurityIdentification1"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Csh" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Cmmdty" type="Commodity3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CollaterisedData4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstTp" type="CollateralType7Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NetXpsrCollstnInd" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsktIdr" type="SecurityIdentification26Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Commodity3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="AssetClassCommodity5Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qty" type="Quantity13"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContractTerm2Choice">
        <xs:choice>
            <xs:element name="Opn" type="NoReasonCode"/>
            <xs:element name="Fxd" type="FixedTermContract2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="CounterpartyData48">
        <xs:sequence>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="RptSubmitgNtty" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtyData" type="CounterpartyData51"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyData49">
        <xs:sequence>
            <xs:element name="RptgDtTm" type="ISODateTime"/>
            <xs:element name="RptSubmitgNtty" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="2" minOccurs="1" name="CtrPtyData" type="CounterpartyData50"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyData50">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="CounterpartyIdentification1"/>
            <xs:element name="OthrCtrPty" type="CounterpartyIdentification2"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyData51">
        <xs:sequence>
            <xs:element name="RptgCtrPty" type="CounterpartyIdentification1"/>
            <xs:element name="OthrCtrPty" type="CounterpartyIdentification2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="NttyRspnsblForRpt" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TxSpcfcData" type="TransactionCounterpartyData3Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyIdentification1">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntr" type="CounterpartyTradeNature3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brnch" type="Branch2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Sd" type="CollateralRole1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyIdentification2">
        <xs:sequence>
            <xs:element name="Id" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brnch" type="Branch2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryCd" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CounterpartyTradeNature3Choice">
        <xs:choice>
            <xs:element name="FI" type="FinancialPartyClassification1Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="NFI" type="NACEDomainIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="DecimalNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="17"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesFincgRptgTxRpt" type="SecuritiesFinancingReportingTransactionReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityCoal1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType24Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityDistillates1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType25Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityElectricity1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType6Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType5Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityInterEnergy1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType26Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityLightEnd1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType27Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityNaturalGas2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType7Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType31Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityOil2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType8Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType32Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnergyCommodityRenewableEnergy1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType2Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType28Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityCarbonRelated1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType29Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityEmission2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType10Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType8Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EnvironmentalCommodityWeather1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType3Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType30Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExposureType6Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SBSC"/>
            <xs:enumeration value="MGLD"/>
            <xs:enumeration value="REPO"/>
            <xs:enumeration value="SLEB"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalAgreementType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ExternalSecuritiesLendingType1Code">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FertilizerCommodityAmmonia1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType39Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityDiammoniumPhosphate1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType40Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityPotash1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType41Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommoditySulphur1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType42Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityUrea1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType43Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FertilizerCommodityUreaAndAmmoniumNitrate1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType5Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType44Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialPartyClassification1Choice">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Clssfctn" type="FinancialPartySectorType2Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstmtFndClssfctn" type="FundType2Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="FinancialPartySectorType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="AIFD"/>
            <xs:enumeration value="CSDS"/>
            <xs:enumeration value="CCPS"/>
            <xs:enumeration value="CDTI"/>
            <xs:enumeration value="INUN"/>
            <xs:enumeration value="ORPI"/>
            <xs:enumeration value="INVF"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="UCIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FixedRate2">
        <xs:sequence>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="DayCntBsis" type="InterestComputationMethodFormat6Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FixedRate7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Rate" type="PercentageRate"/>
            <xs:element name="DayCntBsis" type="InterestComputationMethodFormat6Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MrgnLnAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FixedTermContract2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnOptn" type="RepoTerminationOption2Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate10">
        <xs:sequence>
            <xs:element name="RefRate" type="BenchmarkCurveName8Choice"/>
            <xs:element name="Term" type="InterestRateContractTerm2"/>
            <xs:element name="PmtFrqcy" type="InterestRateContractTerm2"/>
            <xs:element name="RstFrqcy" type="InterestRateContractTerm2"/>
            <xs:element name="BsisPtSprd" type="Max5Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate12">
        <xs:sequence>
            <xs:element name="RefRate" type="BenchmarkCurveName8Choice"/>
            <xs:element name="Term" type="InterestRateContractTerm2"/>
            <xs:element name="PmtFrqcy" type="InterestRateContractTerm2"/>
            <xs:element name="RstFrqcy" type="InterestRateContractTerm2"/>
            <xs:element name="BsisPtSprd" type="Max5Number"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="RateAdjstmnt" type="RateAdjustment1"/>
            <xs:element name="DayCntBsis" type="InterestComputationMethodFormat6Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FloatingInterestRate16">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RefRate" type="BenchmarkCurveName8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Term" type="InterestRateContractTerm2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFrqcy" type="InterestRateContractTerm2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RstFrqcy" type="InterestRateContractTerm2"/>
            <xs:element maxOccurs="1" minOccurs="0" name="BsisPtSprd" type="Max5Number"/>
            <xs:element name="DayCntBsis" type="InterestComputationMethodFormat6Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityContainerShip1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType46Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityDry2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType31Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType33Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FreightCommodityWet2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType4Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType32Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType34Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="FundType2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ETFT"/>
            <xs:enumeration value="MMFT"/>
            <xs:enumeration value="OTHR"/>
            <xs:enumeration value="REIT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="HaircutPortfolioSecurityIdentification1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtflHrcutOrMrgn" type="PercentageRate"/>
            <xs:element name="Id" type="Security3"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINOct2015Identifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}[A-Z0-9]{9,9}[0-9]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="ISORestrictedYear">
        <xs:restriction base="xs:gYear">
            <xs:minInclusive value="1900"/>
            <xs:maxInclusive value="2099"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ImpliedCurrencyAndAmount">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IndustrialProductCommodityConstruction1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType33Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IndustrialProductCommodityManufacturing1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType34Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="InterestComputationMethod1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="A001"/>
            <xs:enumeration value="A002"/>
            <xs:enumeration value="A003"/>
            <xs:enumeration value="A004"/>
            <xs:enumeration value="A005"/>
            <xs:enumeration value="A006"/>
            <xs:enumeration value="A007"/>
            <xs:enumeration value="A008"/>
            <xs:enumeration value="A009"/>
            <xs:enumeration value="A010"/>
            <xs:enumeration value="A011"/>
            <xs:enumeration value="A012"/>
            <xs:enumeration value="A013"/>
            <xs:enumeration value="A014"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="InterestComputationMethodFormat6Choice">
        <xs:choice>
            <xs:element name="Cd" type="InterestComputationMethod1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRate14Choice">
        <xs:choice>
            <xs:element name="Fxd" type="FixedRate2"/>
            <xs:element name="Fltg" type="FloatingInterestRate12"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRate15Choice">
        <xs:choice>
            <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
            <xs:element name="IntrstRate" type="InterestRate7Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRate7Choice">
        <xs:choice>
            <xs:element name="Fxd" type="FixedRate7"/>
            <xs:element name="Fltg" type="FloatingInterestRate16"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="InterestRateContractTerm2">
        <xs:sequence>
            <xs:element name="Unit" type="RateBasis1Code"/>
            <xs:element name="Val" type="Max3Number"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LEIIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LoanData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSts" type="Cleared8Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MinNtcePrd" type="Max20PositiveNumber"/>
            <xs:element maxOccurs="1" minOccurs="0" name="EarlstCallBckDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlColl" type="SpecialCollateral1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryByVal" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollDlvryMtd" type="CollateralDeliveryMethod1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Term" type="ContractTerm2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrstRate" type="InterestRate14Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplAmt" type="PrincipalAmount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData11">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element name="TermntnDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData13">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSts" type="Cleared2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlColl" type="SpecialCollateral1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="PrncplAmt" type="PrincipalAmount1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="SecuritiesTransactionPrice2Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData27">
        <xs:sequence>
            <xs:element name="PrncplAmt" type="PrincipalAmount1"/>
            <xs:element name="MtrtyDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData29">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="UnqTradIdr" type="Max52Text"/>
            <xs:element name="MstrAgrmt" type="MasterAgreement1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData32">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="CollDlvryMtd" type="CollateralDeliveryMethod1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OutsdngMrgnLnAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtMktValAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MrgnLnAttr" type="InterestRate15Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData37">
        <xs:sequence>
            <xs:element name="DlvryByVal" type="TrueFalseIndicator"/>
            <xs:element name="CollDlvryMtd" type="CollateralDeliveryMethod1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Term" type="ContractTerm2Choice"/>
            <xs:element name="IntrstRate" type="InterestRate14Choice"/>
            <xs:element name="PrncplAmt" type="PrincipalAmount1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData39">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrSts" type="Cleared2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlColl" type="SpecialCollateral1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvryByVal" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollDlvryMtd" type="CollateralDeliveryMethod1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Term" type="ContractTerm2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AsstTp" type="SecurityCommodity2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RbtRate" type="RebateRate1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LndgFee" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExclsvArrgmnt" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData4">
        <xs:sequence>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element name="TxLnData" type="TransactionLoanData4Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData40">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element name="CtrctTp" type="ExposureType6Code"/>
            <xs:element name="ClrSts" type="Cleared8Choice"/>
            <xs:element name="TradgVn" type="MICIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MstrAgrmt" type="MasterAgreement1"/>
            <xs:element name="ExctnDtTm" type="ISODateTime"/>
            <xs:element name="ValDt" type="ISODate"/>
            <xs:element name="TermntnDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="GnlColl" type="SpecialCollateral1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element name="TxSpcfcData" type="TransactionLoanData6Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData41">
        <xs:sequence>
            <xs:element name="DlvryByVal" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollDlvryMtd" type="CollateralDeliveryMethod1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Term" type="ContractTerm2Choice"/>
            <xs:element name="AsstTp" type="SecurityCommodity2Choice"/>
            <xs:element name="RbtRate" type="RebateRate1Choice"/>
            <xs:element name="LnVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="LndgFee" type="PercentageRate"/>
            <xs:element name="ExclsvArrgmnt" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData42">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTp" type="ExposureType6Code"/>
            <xs:element name="TxSpcfcData" type="TransactionLoanData5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData43">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrctTp" type="ExposureType6Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TermntnDt" type="ISODate"/>
            <xs:element name="TxSpcfcData" type="TransactionLoanData5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LoanData44">
        <xs:sequence>
            <xs:element name="UnqTradIdr" type="Max52Text"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element name="CtrctTp" type="ExposureType6Code"/>
            <xs:element name="ExctnDtTm" type="ISODateTime"/>
            <xs:element name="TxLnData" type="TransactionLoanData5Choice"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="MICIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{4,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MasterAgreement1">
        <xs:sequence>
            <xs:element name="Tp" type="AgreementType1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Vrsn" type="ISORestrictedYear"/>
            <xs:element maxOccurs="1" minOccurs="0" name="OthrMstrAgrmtDtls" type="Max50Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max20PositiveNumber">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="20"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max3Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max50Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max52Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="52"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5Number">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MetalCommodityNonPrecious1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType7Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType15Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType10Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MetalCommodityPrecious1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType7Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType16Code"/>
            <xs:element name="AddtlSubPdct" type="AssetClassDetailedSubProductType11Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ModificationLevel1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PSTN"/>
            <xs:enumeration value="TCTN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NACEDomainIdentifier">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-U]{1,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NotAvailable1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NTAV"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification9Choice">
        <xs:choice>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="ClntId" type="Max50Text"/>
            <xs:element name="AnyBIC" type="AnyBICDec2014Identifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="OtherC10CommodityDeliverable2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType47Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OtherC10CommodityNonDeliverable2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType11Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType48Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityContainerBoard1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType35Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityNewsprint1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType36Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityPulp1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType37Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityRecoveredPaper1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType38Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaperCommodityRecoveredPaper2">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType8Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PlusOrMinusIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="PolypropyleneCommodityOther1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType9Code"/>
            <xs:element name="SubPdct" type="AssetClassSubProductType49Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PolypropyleneCommodityPlastic1">
        <xs:sequence>
            <xs:element name="BasePdct" type="AssetClassProductType9Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SubPdct" type="AssetClassSubProductType18Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrincipalAmount1">
        <xs:sequence>
            <xs:element name="ValDtAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="MtrtyDtAmt" type="ImpliedCurrencyAndAmount"/>
            <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity13">
        <xs:sequence>
            <xs:element name="Val" type="DecimalNumber"/>
            <xs:element name="UnitOfMeasr" type="UnitOfMeasure1Code"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityNominalValue1Choice">
        <xs:choice>
            <xs:element name="Qty" type="DecimalNumber"/>
            <xs:element name="NmnlVal" type="ActiveOrHistoricCurrencyAndAmount"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="RateAdjustment1">
        <xs:sequence>
            <xs:element name="Rate" type="PercentageRate"/>
            <xs:element name="AdjstmntDt" type="ISODate"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RateBasis1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DAYS"/>
            <xs:enumeration value="MNTH"/>
            <xs:enumeration value="WEEK"/>
            <xs:enumeration value="YEAR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RebateRate1Choice">
        <xs:choice>
            <xs:element name="Fxd" type="PercentageRate"/>
            <xs:element name="Fltg" type="FloatingInterestRate10"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="RepoTerminationOption2Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="EGRN"/>
            <xs:enumeration value="EGAE"/>
            <xs:enumeration value="ETSB"/>
            <xs:enumeration value="NOAP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesFinancingReportingTransactionReportV01">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TradData" type="TradeTransactionReport6Choice"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesLendingType3Choice">
        <xs:choice>
            <xs:element name="Cd" type="ExternalSecuritiesLendingType1Code"/>
            <xs:element name="Prtry" type="Max35Text"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionPrice2Choice">
        <xs:choice>
            <xs:element name="MntryVal" type="AmountAndDirection61"/>
            <xs:element name="Pctg" type="PercentageRate"/>
            <xs:element name="Yld" type="PercentageRate"/>
            <xs:element name="BsisPts" type="DecimalNumber"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="Security3">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnTp" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtyOrNmnlVal" type="QuantityNominalValue1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="1" minOccurs="0" name="HrcutOrMrgn" type="PercentageRate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qlty" type="CollateralQualityType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtrty" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="SecurityIssuer1"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="SecuritiesLendingType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblForCollReuse" type="TrueFalseIndicator"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Security4">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="ISINOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Clssfctn" type="CFIOct2015Identifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="QtyOrNmnlVal" type="QuantityNominalValue1Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Qlty" type="CollateralQualityType1Code"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Mtrty" type="ISODate"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="SecurityIssuer1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Tp" type="SecuritiesLendingType3Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="UnitPric" type="SecuritiesTransactionPrice2Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ExclsvArrgmnt" type="TrueFalseIndicator"/>
            <xs:element maxOccurs="1" minOccurs="0" name="MktVal" type="ImpliedCurrencyAndAmount"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityCommodity2Choice">
        <xs:choice>
            <xs:element name="Scty" type="Security4"/>
            <xs:element name="Cmmdty" type="Commodity3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification26Choice">
        <xs:choice>
            <xs:element name="Id" type="ISINOct2015Identifier"/>
            <xs:element name="NotAvlbl" type="NotAvailable1Code"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SecurityIssuer1">
        <xs:sequence>
            <xs:element name="LEI" type="LEIIdentifier"/>
            <xs:element name="JursdctnCtry" type="CountryCode"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties31Choice">
        <xs:choice>
            <xs:element name="CntrlSctiesDpstryPtcpt" type="LEIIdentifier"/>
            <xs:element name="IndrctPtcpt" type="LEIIdentifier"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="SpecialCollateral1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GENE"/>
            <xs:enumeration value="SPEC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SupplementaryData1">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PlcAndNm" type="Max350Text"/>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:sequence>
            <xs:any namespace="##any" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeEarlyTermination2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData49"/>
            <xs:element name="LnData" type="LoanData11"/>
            <xs:element name="CollData" type="CollateralFlag6"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeError2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData49"/>
            <xs:element name="UnqTxIdr" type="Max52Text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeNewTransaction6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData48"/>
            <xs:element name="LnData" type="LoanData44"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollData" type="TransactionCollateralData1Choice"/>
            <xs:element name="LvlTp" type="ModificationLevel1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionCollateralUpdate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData49"/>
            <xs:element name="LnData" type="LoanData4"/>
            <xs:element name="CollData" type="CollateralData7"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionCorrection6">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnData" type="LoanData43"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollData" type="CollateralData7"/>
            <xs:element name="LvlTp" type="ModificationLevel1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionModification7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnData" type="LoanData42"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollData" type="TransactionCollateralData8Choice"/>
            <xs:element name="LvlTp" type="ModificationLevel1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionPositionComponent2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData48"/>
            <xs:element maxOccurs="1" minOccurs="0" name="LnData" type="LoanData40"/>
            <xs:element maxOccurs="1" minOccurs="0" name="CollData" type="CollateralData3"/>
            <xs:element name="LvlTp" type="ModificationLevel1Code"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeTransactionReport6Choice">
        <xs:choice>
            <xs:element name="New" type="TradeNewTransaction6"/>
            <xs:element name="Mod" type="TradeTransactionModification7"/>
            <xs:element name="Err" type="TradeError2"/>
            <xs:element name="EarlyTermntn" type="TradeEarlyTermination2"/>
            <xs:element name="PosCmpnt" type="TradeTransactionPositionComponent2"/>
            <xs:element name="CollUpd" type="TradeTransactionCollateralUpdate2"/>
            <xs:element name="Crrctn" type="TradeTransactionCorrection6"/>
            <xs:element name="ValtnUpd" type="TradeValuationUpdate2"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TradeValuationUpdate2">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="TechRcrdId" type="Max35Text"/>
            <xs:element name="CtrPtyData" type="CounterpartyData48"/>
            <xs:element name="UnqTxIdr" type="Max52Text"/>
            <xs:element name="EvtDt" type="ISODate"/>
            <xs:element name="MktVal" type="ImpliedCurrencyAndAmount"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SplmtryData" type="SupplementaryData1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionCollateralData1Choice">
        <xs:choice>
            <xs:element name="RpTrad" type="Collateral15"/>
            <xs:element name="BuySellBck" type="Collateral15"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesLndg" type="CollateralFlag6Choice"/>
            <xs:element name="MrgnLndg" type="Security3"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionCollateralData8Choice">
        <xs:choice>
            <xs:element name="RpTrad" type="Collateral27"/>
            <xs:element name="BuySellBck" type="Collateral27"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesLndg" type="CollateralFlag6Choice"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionCounterpartyData3Choice">
        <xs:choice>
            <xs:element name="RpTrad" type="TransactionCounterpartyData7"/>
            <xs:element name="BuySellBck" type="TransactionCounterpartyData7"/>
            <xs:element name="SctiesLndg" type="TransactionCounterpartyData7"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionCounterpartyData7">
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Bnfcry" type="OrganisationIdentification9Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="TrptyAgt" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="Brkr" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ClrMmb" type="LEIIdentifier"/>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmPties" type="SettlementParties31Choice"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AgtLndr" type="LEIIdentifier"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionLoanData4Choice">
        <xs:choice>
            <xs:element name="RpTrad" type="LoanData29"/>
            <xs:element name="BuySellBck" type="LoanData29"/>
            <xs:element name="SctiesLndg" type="LoanData29"/>
            <xs:element name="MrgnLndg" type="LoanData13"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionLoanData5Choice">
        <xs:choice>
            <xs:element name="RpTrad" type="LoanData1"/>
            <xs:element name="BuySellBck" type="LoanData2"/>
            <xs:element name="SctiesLndg" type="LoanData39"/>
            <xs:element name="MrgnLndg" type="LoanData32"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TransactionLoanData6Choice">
        <xs:choice>
            <xs:element name="RpTrad" type="LoanData37"/>
            <xs:element name="BuySellBck" type="LoanData27"/>
            <xs:element name="SctiesLndg" type="LoanData41"/>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="UnitOfMeasure1Code">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PIEC"/>
            <xs:enumeration value="TONS"/>
            <xs:enumeration value="FOOT"/>
            <xs:enumeration value="GBGA"/>
            <xs:enumeration value="USGA"/>
            <xs:enumeration value="GRAM"/>
            <xs:enumeration value="INCH"/>
            <xs:enumeration value="KILO"/>
            <xs:enumeration value="PUND"/>
            <xs:enumeration value="METR"/>
            <xs:enumeration value="CMET"/>
            <xs:enumeration value="MMET"/>
            <xs:enumeration value="LITR"/>
            <xs:enumeration value="CELI"/>
            <xs:enumeration value="MILI"/>
            <xs:enumeration value="GBOU"/>
            <xs:enumeration value="USOU"/>
            <xs:enumeration value="GBQA"/>
            <xs:enumeration value="USQA"/>
            <xs:enumeration value="GBPI"/>
            <xs:enumeration value="USPI"/>
            <xs:enumeration value="MILE"/>
            <xs:enumeration value="KMET"/>
            <xs:enumeration value="YARD"/>
            <xs:enumeration value="SQKI"/>
            <xs:enumeration value="HECT"/>
            <xs:enumeration value="ARES"/>
            <xs:enumeration value="SMET"/>
            <xs:enumeration value="SCMT"/>
            <xs:enumeration value="SMIL"/>
            <xs:enumeration value="SQMI"/>
            <xs:enumeration value="SQYA"/>
            <xs:enumeration value="SQFO"/>
            <xs:enumeration value="SQIN"/>
            <xs:enumeration value="ACRE"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
